﻿@{
    ViewBag.Title = "Welcome to the .NET Selector Injector";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Never argue over a meal again.</h2>
            </hgroup>
            <p>
                Simply @Html.ActionLink("login","login","Account") with the details provided to you or @Html.ActionLink("register","register","Account") and start voting! :D
            </p>
        </div>
    </section>
}
<h3>.NET Selector Injector has the following features:</h3>
<ol class="round">
    <li class="one">
        <h5>Rock-solid ASP.NET MVC backbone</h5>
        <p>The chances of yellow screens are very small...</p>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Stress free voting....</h5>
        <p>No more waiting in line to put your name in a hat!</p>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <!--<li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>-->
</ol>
