﻿@model MealSelector.Models.Meal

@{
    ViewBag.Title = "Make Decision!";
}

<h2>Make Decision!</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Make Decision!</legend>

        @Html.HiddenFor(model => model.MealId)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.WinningVoteId)

        <p>
            <strong>Meal:</strong> @Html.DisplayTextFor(model => model.Name)
        </p>
        <p>
            <input type="submit" value="Decide!" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
