﻿@model IEnumerable<MealSelector.Models.Meal>

@{
    ViewBag.Title = "Meals";
}

<h2>Index</h2>
@if (Roles.GetRolesForUser().Contains("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (ViewBag.Message != null) { Write(ViewBag.Message); }
<p>Welcome to the meals list! Below are the current meals available for voting. Any meals that have been decided upon will show a view result link instead of a vote link</p>
<table class="MealTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (Roles.GetRolesForUser().Contains("Administrator"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MealId })

                    @Html.ActionLink("Delete", "Delete", new { id = item.MealId })

                    @if (item.WinningVoteId == null) 
                    {
                        @Html.ActionLink("Decide", "Decide", new { id = item.MealId })
                    }
                </td>
                
            }

            @if (item.WinningVoteId == null)
            {
                <td class="Vote">
                    @Html.ActionLink("Vote", "Vote", new { id = item.MealId })
                </td>
            }
            else
            {
                <td class="Winner">
                    @Html.ActionLink("Winning Vote", "Winner", new { id = item.MealId })
                </td>
            }

        </tr>
    }

</table>
