﻿@model MealSelector.Models.UserVote

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Meal</legend>

        @Html.HiddenFor(model => model.UserVoteId)
        @Html.HiddenFor(model => model.MealId)
        @Html.HiddenFor(model => model.UserId)

        <div>
            @if(string.IsNullOrEmpty(Model.Details))
            {
            <p>You are voting on <strong>@Html.DisplayTextFor(model => model.Meal.Name)</strong></p>
            }
            else
            {
            <p>You have already voted on <strong>@Html.DisplayTextFor(model => model.Meal.Name)</strong>, change your vote below:</p>    
            }
            <p>This event is due to take place on @Html.DisplayTextFor(model => model.Meal.Date)</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Details)
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
