﻿@model MealSelector.Models.WinningVote

@{
    ViewBag.Title = "Winning Vote!";
}

<h2>Winning Vote</h2>

        @Html.HiddenFor(model => model.UserVoteId)
        @Html.HiddenFor(model => model.WinningVoteId)

        <div>

            <p>Voting has ended on <strong>@Html.DisplayTextFor(model => model.UserVote.Meal.Name)</strong></p>
            <p>This event is due to take place on @Html.DisplayTextFor(model => model.UserVote.Meal.Date)</p>
     
        </div>
        <div>
            <h2>The Winning Vote is...</h2>
            <h3>@Html.DisplayTextFor(model => model.UserVote.Details)</h3>
            <p>Selected by @Html.DisplayTextFor(model => model.UserVote.User.UserName)</p>
        </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
